body {
  color: white;
  background-color: rgb(169, 194, 157);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 15px 30px;
}

main {
  border: 3px dashed rgb(125, 151, 113);
  border-radius: 15px;
  padding: 0px 15px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.4em;
}

header {
  border: 3px dashed rgb(125, 151, 113);
  border-radius: 15px;
  padding: 0px 15px;
  margin-bottom: 20px;
}

footer {
  border: 3px dashed rgb(125, 151, 113);
  border-radius: 15px;
  padding: 20px 15px;
}

.navigation-box {
  font-size: 20px;
  text-align: center;
}

.nav-list li {
  display: inline;
  padding: 10px;
}

.bold-list {
  color: rgb(83, 97, 76);
  font-weight: bold;
}

.container {
  width: 600px;
  margin: 0 auto;
}

#green-background {
  color: rgb(83, 97, 76);
  font-size: 36px;
  line-height: 1.4em;
  background-color: rgb(125, 151, 113);
  text-align: center;
  margin-top: 20px;
  padding: 15px;
}

@media (min-width: 768px) {
  body {
    background-color: cornflowerblue;
  }
  h1 {
    color: rgb(198, 238, 207);
  }

  main {
    font-size: 16px;
    line-height: 1.2em;
  }
  #green-background {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    background-color: rgb(15, 7, 121);
  }
  main,
  header,
  footer {
    border: 3px dashed rgb(15, 7, 121);
  }
  .bold-list {
    color: rgb(15, 7, 121);
    font-weight: bold;
  }
}
